# ------------------------------------------------------
# | ddddd   eeeee   ccccc   eeeee   bbbbb   u   u |
# | d   d   e       c       e       b    b  u   u |
# | d   d   eeee    c       eeee    bbbbb   u   u |
# | d   d   e       c       e       b    b  u   u |
# | ddddd   eeeee   ccccc   eeeee   bbbbb   uuuuu |
# ------------------------------------------------------
# HomeSmartHome – Docker-Stacks 
# File: stacks/caddy/Caddyfile
# Documentation: https://github.com/DaCeBu/docker-stacks
# Github Project: https://github.com/DaCeBu/docker-stacks.git
# Created by: DeCeBu (Data Excellence, Connectivity and Business)
# ------------------------------------------------------

#
# Forward authentication with optional matcher
#
# The snippet can optionally be imported with arguments that are passed to a matcher, e.g.:
# 
#    import auth not remote_ip 192.168.10.0/24
#
(auth) {
	@Matcher {args[:]}
	forward_auth @Matcher authelia:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

whoami.{$MY_DOMAIN} {
	import auth
	reverse_proxy whoami:80
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

lldap.{$MY_DOMAIN} {
	reverse_proxy lldap:17170
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

auth.{$MY_DOMAIN} {
	reverse_proxy authelia:9091
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

udm.{$MY_DOMAIN} {
	reverse_proxy 192.168.10.1:80
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

victoriametrics.{$MY_DOMAIN} {
	# Don't require authentication from the subnet Home Assistant is on (unauthenticated ingest)
	import auth not remote_ip 192.168.50.0/24
	reverse_proxy victoriametrics:8428
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}